<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
<% if @game.boss_id == 3 %>
<%= image_tag("https://i.imgur.com/E5gN1eK.gif", style: "position: absolute; border:0px;margin:0px:display:inline;top:0px;height:100%;width:100%;z-index:-10;opacity:.8;") %>
<% elsif @game.boss_id == 2 %>
<%= image_tag("https://i.imgur.com/qvPNZG1.jpg", style: "position: absolute; border:0px;margin:0px:display:inline;top:0px;height:100%;width:100%;z-index:-10;opacity:.9;")%>
<% else %>
<%= image_tag("https://i.imgur.com/GwLzS4w.jpg", style: "position: absolute; border:0px;margin:0px:display:inline;top:0px;height:100%;width:100%;z-index:-10;opacity:.9;")%>
<% end %>
<div class="show">
<section>
<span style="color:white"><%= @game.user.player.name %></span> <span style="color: red"> VS </span><span style="color:white"><%= @game.boss.name %><br></span>
</section>
<div class="player">
  <h2 style="font-family: 'Permanent Marker';font-size:250%;color:white;">
    <div class="bossquote">
    <span style="color: white"><%= flash[:boss_phrase] ?  flash[:boss_phrase] : nil %></span>
    <% if flash[:boss_phrase] %>
      <% if flash[:boss_effect] == "Attack" %>
      <div class="attack">
      <span style="color: red"> <%= @game.boss.name %> hit you for <%= flash[:boss_power] %>!
      </span>
      </div>
      <% else %>
      <div class="heal">
      <span stlye="color: green"> <%= @game.boss.name %> healed for <%= flash[:boss_power] %>!
      </span>
      </div>
      <% end %>
    <% end %>
    <br><br><br><br><br><br>
</div>
  <%= @game.user.player.name %>: <span style="color:red"> <%= @game.user_health %> health </span><br>
  <span style="color: white"><%= flash[:player_phrase] ? flash[:player_phrase] : nil %></span<br><br><br><br>
  </h2>
</div>
<div class="boss">
  <h3><br><%= @game.boss.name %>: <span style="color:red"> <%= @game.boss_health %> health </span></h3><br>
</div>

<%= image_tag("#{@game.boss.image}", style: "position:fixed;top:2%;left:62%;display:inline;border:0px;") %>
<%= image_tag("#{@game.user.player.battle_image}", style: "position:fixed;bottom:0%;left:2%;display:inline;border:0px;") %>
<p>
  <div class="deck">
<% @game.user.hands.each do |hand| %>
  <div class="card card1">
    <div class="face front" style="background-image: url(<%= hand.card_library.image %>);">
<%= form_for :hand do |f| %>
<%= f.hidden_field :effect_type, value: hand.card_library.effect_type %>
<%= f.hidden_field :power, value: hand.card_library.power %>
<%= f.hidden_field :hand_id, value: hand.id %>
<%= f.hidden_field :quantity, value: hand.quantity %>
 <%= button_to hand.card_library.name, game_path(@game), method: :patch %>
<% end %>
</div>
 </div>
<% end %>
</div>
</p>
</div>
