<%= @game.user.player.name %> versus <%= @game.boss.name %><br>
<%= @game.user.player.name %>: <%= @game.user_health %> health | <%= flash[:player_phrase] ? flash[:player_phrase] : nil %><br>
<%= @game.boss.name %>: <%= @game.boss_health %> health | <%= flash[:boss_phrase] ? flash[:boss_phrase] : nil %> <br><br>
Available Cards:<br><br><br>
<p>
  <div class="deck">
<% @game.user.hands.each do |hand| %>
  <div class="card card1">
    <div class="face front">
<%= form_for :hand do |f| %>
<%= f.hidden_field :effect_type, value: hand.card_library.effect_type %>
<%= f.hidden_field :power, value: hand.card_library.power %>
<%= f.hidden_field :hand_id, value: hand.id %>
<%= f.hidden_field :quantity, value: hand.quantity %>
 <%= button_to hand.card_library.name, game_path(@game), method: :patch %>
<% end %>
</div>
 </div>
<% end %>
</div>
</p>
