<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
<div class="show">
<section>
<%= @game.user.player.name %> <span style="color: red"> versus </span><%= @game.boss.name %><br>
</section>
<h2 style="font-family: 'Permanent Marker';font-size:200%;">
<%= @game.user.player.name %>:  <%= @game.user_health %> health | <%= flash[:player_phrase] ? flash[:player_phrase] : nil %><br><br>
<%= @game.boss.name %>: <%= @game.boss_health %> health | <%= flash[:boss_phrase] ? flash[:boss_phrase] : nil %> <br><br><br>
<br><br><br>
</h2>
<%= image_tag("#{@game.boss.image}", style: "position:fixed;top:2%;left:62%;display:inline;border:0px;") %>
<%= image_tag("#{@game.user.player.battle_image}", style: "position:fixed;bottom:0%;left:2%;display:inline;border:0px;") %>
<p>
  <div class="deck">
<% @game.user.hands.each do |hand| %>
  <div class="card card1">
    <div class="face front" style="background-image: url(<%= hand.card_library.image %>);">
<%= form_for :hand do |f| %>
<%= f.hidden_field :effect_type, value: hand.card_library.effect_type %>
<%= f.hidden_field :power, value: hand.card_library.power %>
<%= f.hidden_field :hand_id, value: hand.id %>
<%= f.hidden_field :quantity, value: hand.quantity %>
 <%= button_to hand.card_library.name, game_path(@game), method: :patch %>
<% end %>
</div>
 </div>
<% end %>
</div>
</p>
</div>
